@mixin btn($color) {
  width: auto;
  height: auto;
  display: block;
  padding: 12px 25px;
  margin: 0;
  font-size: 14px;
  background-color: white;
  border: 2px solid $color;
  box-shadow: none;

  &:hover {
    background-color: $color;
    color: white;
  }
}

@mixin logo {
  font-weight: 700;
  color: $primary;
  letter-spacing: 3px;
  text-shadow:
    #ffffff 2px 0px 0px,
    #ffffff 1.75517px 0.958851px 0px,
    #ffffff 1.0806px 1.68294px 0px,
    #ffffff 0.141474px 1.99499px 0px,
    #ffffff -0.832294px 1.81859px 0px,
    #ffffff -1.60229px 1.19694px 0px,
    #ffffff -1.97998px 0.28224px 0px,
    #ffffff -1.87291px -0.701566px 0px,
    #ffffff -1.30729px -1.5136px 0px,
    #ffffff -0.421592px -1.95506px 0px,
    #ffffff 0.567324px -1.91785px 0px,
    #ffffff 1.41734px -1.41108px 0px,
    #ffffff 1.92034px -0.558831px 0px;
}
